{
   project =
   {
      description="🍫 mulle-rbtree organizes data in a red/black tree";
      domain="github";
      language="c";
      dialect="c";
      name="mulle-rbtree";
       version="0.1.1";
      user="mulle-c";
      repo="mulle-rbtree";
      homepage="https://github.com/mulle-c/mulle-rbtree";
      license="BSD-3-Clause";
   };
   dependencies =
   (
      {
         domain="github";
         name="mulle-storage";
         repo="mulle-storage";
         url="https://github.com/mulle-c/mulle-storage";
         user="mulle-c";
      }
   );
}
